<!--Purpose: Add a property form-->

{% extends "layout.html" %}
{% block title %}Add Property{% endblock %}
{% block content %}
    <div align="center">
        <div class="card border-dark mb-3" style="max-width: 40rem;">
        <div style="padding: 30px;">
          <div class="card-header">Create New Property</div>
            <form method = "POST" action = "{{ url_for('addProperty') }}" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" aria-describedby="name of property" placeholder="Enter name">
                    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>

                <div class="form-group">
                    <label for="descrip">Description</label>
                    <textarea class="form-control" name="descrip" rows="3" placeholder="Describe your property"></textarea>
                </div>

                <div class="form-group">
                    <label for="location">Location</label>
                    <input type="text" class="form-control" name="location" aria-describedby="enter location" placeholder="Enter your property location">
                </div>

                <div class="form-group">
                    <label for="price">Price Per Month</label>
                    <input type="number" class="form-control" name="price" aria-describedby="enter price" placeholder="Enter price">
                </div>

                <fieldset class="form-group">
                <label for="smoker">Is your property smoker friendly?</label>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="smoker" id="smokerYes" value="1">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="smoker" id="smokerNo" value="0">
                        No
                    </label>
                </div>
                </fieldset>
                
                <fieldset class="form-group">
                <label for="gender">Do you have a preferred gender?</label>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="gender" id="gender1" value="1">
                    All female
                  </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="gender" id="gender2" value="2">
                    All male
                 </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="gender" id="gender3" value="3">
                    Other
                  </label>
                </div>
              </fieldset>
              
                <fieldset class="form-group">
                <label for="pet">Is your property pet friendly?</label>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="pet" id="petYes" value="1">
                    Yes
                  </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="pet" id="petNo" value="0">
                        No
                    </label>
                </div>
                
                <label>Available Date Ranges</label>
                <br>
                <label>Date Ranges 1:</label>
                
                <div class="container col-sm-12" align="center">
                  <div class="form-group">
                    <label for="start1" class="control-label">Start: </label>
                    <input type="date" class="control-label" name="start1" id="start1"></input>                    
                  </div>
                </div>
                
                <div class="container col-sm-12" align="center">
                  <div class="form-group">
                    <label for="end1" class="control-label">End: </label>
                    <input type="date" class="control-label" name="end1" id="end1"></input>
                  </div>
                </div>
                
                <label>Date Ranges 2:</label>
                
                <div class="container col-sm-12" align="center">
                  <div class="form-group">
                    <label for="start2" class="control-label">Start: </label>
                    <input type="date" class="control-label" name="start2" id="start2"></input>                    
                  </div>
                </div>
                
                <div class="container col-sm-12" align="center">
                  <div class="form-group">
                    <label for="end2" class="control-label">End: </label>
                    <input type="date" class="control-label" name="end2" id="end2"></input>
                  </div>
                </div>
                
                <label>Date Ranges 3:</label>
                
                <div class="container col-sm-12" align="center">
                  <div class="form-group">
                    <label for="start3" class="control-label">Start: </label>
                    <input type="date" class="control-label" name="start3" id="start3"></input>                    
                  </div>
                </div>
                
                <div class="container col-sm-12" align="center">
                  <div class="form-group">
                    <label for="end3" class="control-label">End: </label>
                    <input type="date" class="control-label" name="end3" id="end3"></input>
                  </div>
                </div>
                
                <div class="form-group">
                    <label for="pic" class="control-label">Pic: </label>
                    <input type="file" class="control-label" name="pic">
                </div>
                
              <input type="submit" value ="Submit" class="btn btn-dark"></input>
            </form>
        </div>
        </div>
     </div>
    </div>
{% endblock %}
