{% extends "layout.html" %}
{% block title %}My Properties{% endblock %}
{% block content %}
  <div class = "container">
      
      <div class="row mt-5">
        {% for item in propList%}
          <div class = "col-lg-3 col-sm-6" align = "center">
            <!-- Change the border color -->
            <div class="">
              <a href='/show/{{item.PID}}' class="card border-dark mb-3" data-id={{item.PID}} style="max-width: 18rem;">
                <div style="padding: 30px;">
                  <div class="card-header">{{item.propName}}</div>
                  
                  <img class="card-img-top" src="{{url_for('pic',filename=item.propFilename)}}" alt="{{item.propFilename}}">
                  <div class="card-body text-dark">
                    <h5 class="card-text">{{item.propDescription}}</h5>
                    <p class="card-text">{{item.propLocation}}</p>
                    <p class="card-text">{{item.propPrice}}</p>
                    
                    {% if item.propSmoker == 0 %}
                    <p class="card-text">Smokers not allowed</p>
                    {% else %}
                    <p class="card-text">Smoker friendly</p>
                    {% endif %}
                    
                    {% if item.propGender == 1 %}
                    <p class="card-text">Female only</p>
                    {% elif item.propGender == 2 %}
                    <p class="card-text">Male only</p>
                    {% else %}
                    <p class="card-text">No gender preference</p>
                    {% endif %}
                    
                    {% if item.propPet == 1 %}
                    <p class="card-text">Pet friendly</p>
                    {% else %}
                    <p class="card-text">Pets not allowed</p>
                    {% endif %}
                  </div>
                  
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
{% endblock %}