<!--Purpose: display the individual user's profile/settings page-->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name=author content="">
    <meta name=description content="">
    <meta name=keywords content="">
    <title></title>
    <!-- css stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <!-- fonts -->
</head>

<body>

    <div id="contentContainer">
    <h1>{{profile.name}}</h1>
    <p>{{profile.university}}
    <p>{{profile.email}}</p>
    

    </div>
</body>

</html>
