<!--Purpose: Show a more detailed view of an individual space-->
<!--Purpose: display the individual user's profile/settings page-->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name=author content="">
    <meta name=description content="">
    <meta name=keywords content="">
    <title></title>
    <!-- css stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- fonts -->
</head>

<body>
      <div align = "center">
          <!-- Change the border color -->
          <div href='/show/{{item.PID}}' class="">
            <div class="card border-dark mb-3" data-id={{item.PID}} style="max-width: 40rem;">
              <div style="padding: 30px;">
                <div class="card-header">{{item.propName}}</div>
                
                <!--<img class="card-img-top" src="{{item.propFilename}}" alt="Card image cap">-->
                <!--<img src="{{url_for('pic',nm=pic['nm'])}}" alt="{{pic['name']}}">-->

                <!--<img class="card-img-top" src="..." alt="Card image cap"> -->

                <div class="card-body text-dark">
                  <h5 class="card-text">{{item.propDescription}}</h5>
                  <p class="card-text">{{item.propLocation}}</p>
                  <p class="card-text">{{item.propPrice}}</p>
                  
                  {% if item.propSmoker == 0 %}
                  <p class="card-text">Smokers not allowed</p>
                  {% else %}
                  <p class="card-text">Smoker friendly</p>
                  {% endif %}
                  
                  {% if item.propGender == 1 %}
                  <p class="card-text">Female only</p>
                  {% elif item.propGender == 2 %}
                  <p class="card-text">Male only</p>
                  {% else %}
                  <p class="card-text">No gender preference</p>
                  {% endif %}
                  
                  {% if item.propPet == 1 %}
                  <p class="card-text">Pet friendly</p>
                  {% else %}
                  <p class="card-text">Pets not allowed</p>
                  {% endif %}
                </div>
                <div>
                  
                  <button onclick="window.location.href='/edit/{{item.PID}}'" type="button" class="btn btn-dark">Edit</button>
                  <button onclick="window.location.href='/delete/{{item.PID}}'" type="button" class="btn btn-dark">Delete</button>
                </div>
              </div>
            </div>
          </div>
      </div>

</body>

</html>
