<!--Purpose: Show a more detailed view of an individual space-->
{% extends "layout.html" %}
{% block title %}Property Details{% endblock %}
{% block content %}
      <div align = "center">
          <!-- Change the border color -->
          <div href='/show/{{item.PID}}' class="">
            <div class="card border-dark mb-3" data-id={{item.PID}} style="max-width: 40rem;">
              <div style="padding: 30px;">
                <div class="card-header">{{item.propName}}</div>
                
                <img class="card-img-top" src="{{url_for('pic',filename=item.propFilename)}}" alt="{{item.propFilename}}">
                <div class="card-body text-dark">
                  <h5 class="card-text">{{item.propDescription}}</h5>
                  <p class="card-text">{{item.propLocation}}</p>
                  <p class="card-text">Price: {{item.propPrice}}</p>
                    {% if item.propSmoker == 0 %}
                    <p class="card-text">Smokers not allowed</p>
                    {% else %}
                    <p class="card-text">Smoker friendly</p>
                    {% endif %}
                    
                    {% if item.propGender == 1 %}
                    <p class="card-text">Female only</p>
                    {% elif item.propGender == 2 %}
                    <p class="card-text">Male only</p>
                    {% else %}
                    <p class="card-text">No gender preference</p>
                    {% endif %}
                    
                    {% if item.propPet == 1 %}
                    <p class="card-text">Pet friendly</p>
                    {% else %}
                    <p class="card-text">Pets not allowed</p>
                    {% endif %}
                  <form method = "POST" action = "{{ url_for('showPage', id = item.PID) }}">
                    {% for date in dates %}
                      <p class="card-text">{{date.startDate}} : {{date.endDate}}
                      <input type = "hidden" name = "start" value = "{{date.startDate}}">
                      <input type = "hidden" name = "end" value = "{{date.endDate}}">
                      <button type = "submit" name = "book">Book This</button></p>
                    {% endfor %}
                  </form>
                </div>
                <div>
                  
                  <button onclick="window.location.href='/edit/{{item.PID}}'" type="button" class="btn btn-dark">Edit</button>
                  <button onclick="window.location.href='/delete/{{item.PID}}'" type="button" class="btn btn-dark">Delete</button>
                </div>
              </div>
            </div>
          </div>
      </div>
{% endblock %}